<form id='signin-form' action='/user/login' method='POST'>
	<div>
		<label for='username'>Username:</label>
		<input type='text' id='username' name='username' required />
	</div>
	<div>
		<label for='password'>Password:</label>
		<input type='password' id='password' name='password' required />
	</div>
	<button id='submit_button' name='submit_button' type='submit'>Sign In</button>
</form>
<p>
	<a href='/register'>Click here to signup!</a>
</p>