/* Stats Page Styles */

/* Section headings */
h1 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}

h2 {
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: 2px solid #ccc;
	padding-bottom: 5px;
}

/* List items */
ul {
	list-style-type: none;
	padding: 1;
}

li {
	background-color: #f7f4f4;
	margin: 8px;
	padding: 10px;
	border-radius: 5px;
}

/* Course names */
li strong {
	color: #b1aeae;
}

/* Space between sections */
section {
	margin-bottom: 25px;
}

nav {
	background-color: #e4e0e0;
	border-radius: 5px;
}
